/* About Us Page Styles */
.about-content {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: rgb(102, 101, 101);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    color: white;
}

.about-content h2 {
    font-size: 1.8rem;
    margin-top: 20px;
    color: #f75e50;
}

.about-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-content ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

.about-content ul li {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.button {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: #6b5b95;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease;
    
}

.button:hover {
    background: #5a4a7d;
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#title{
    text-align: center;
}
#welcome{
    text-align: center;
}